{% extends 'base.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <div>
        {%  if book.available %}
            <div class="alert alert-success" role="alert">Dostępna</div>
        {% else %}
            <div class="alert alert-danger" role="alert">Wypożyczona</div>
        {% endif %}
        {% if book.cover %}
        <div>
            <img src="{{ book.cover.url }}" width="150" class="img-thumbnail" alt="">
        </div>
        {% endif %}
    <div>Autor: {% for author in book.authors.all %}
                    {{ author.name }},
                {% endfor %}
    </div>
    <div>Rok wydania: {{ book.publication_year }}</div>
    <div>Opis:</div>
    <div>
        {{ book.description }}
    </div>
    </div>
{% endblock %}