{% extends 'base.html' %}
{% load static %}
{% block title %}Lista książek{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2>Lista książek</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books_list %}
                    <tr>
                        <td><a class="nav-link" href="{% url 'books:details' book.id %}">{{ book.title }}</a></td>
                        <td>
                            {% if book.available == True %}Dostępna{% else %}Wypożyczona{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <img src="{% static "books/img/pexels-pixabay-415078.jpg" %}" alt="books image" width="100%">
        </div>
    </div>
{% endblock %}
