<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% if one_post %}

    <h2>{{ one_post.title }}</h2>
    <div>
        <small>Utworzono: {{ one_post.created }}, zmodyfikowano {{ one_post.modified }}</small>
    </div>
    <div>
        <p>{{ one_post.content }}</p>
    </div>
{#    <ul>#}
{#    {% for post in one_post %}#}
{##}
{#        <li><a href="/posts/{{ post.id }}/">{{ post.title }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{% else %}
    <p>Chyba nie ma nic</p>
{% endif %}
</body>
</html>