
{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static '/posts/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>{{  post.title }}</h1>
            <div>
                <p>{{ post.content }}</p>
            </div>
            {% if post.example_file %}
                <div>
                    Pobierz <a href="{{ post.example_file.url }}" width="10%">przykład</a>
                </div>
            {% endif %}
        </div>
        {% if post.image %}
            <div>
                <img src="{{ post.image.url }}" width="100" class="img-thumbnail" alt=" ">
            </div>
         {% endif %}
        <div>
            <small>Utworzono: {{  post.created }}, zmodyfikowano {{  post.modified }}</small>
        </div>
    </div>
{% endblock %}