
{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'posts/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if post %}
        <h2>{{  post.title }}</h2>
        <div>
            <small>Utworzono: {{  post.created }}, zmodyfikowano {{  post.modified }}</small>
        </div>
        <div>
            <p>{{ post.content }}</p>
        </div>
    {#    <ul>#}
    {#    {% for post in one_post %}#}
    {##}
    {#        <li><a href="/posts/{{ post.id }}/">{{ post.title }}</a></li>#}
    {#    {% endfor %}#}
    {#    </ul>#}
    {% else %}
        <p>Chyba nie ma nic</p>
    {% endif %}
{% endblock %}