
{% extends 'base.html' %}
{% load static %}
{% block title %}Lista postów{% endblock %}
{% block styles %}
<link href="{% static 'posts/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <form>
        <input type="text" id="q" name="qr">
        <input type="submit" value="search">
    </form>
    <h1>Lista postów</h1>
    <ul>
        {% for post in posts_list %}

            <li><a href="{% url 'posts:details' post.id %}">{{ post.title }}</a>
                {% if post.sponsored %}(sponsorowany){% endif %}
            </li>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if posts_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.list.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                 <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                </li>
            {% endif %}
            {% for i in posts_list.paginator.page_range %}
                {% if posts_list.number == i %}
                     <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ i }}
                            <span class="sr-only">{current}</span>
                        </span>
                     </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts_list.has_next %}
                 <li class="page-item">
                     <a class="page-link" href="?page={{ posts_list.next_page_number }}">Next</a>
                 </li>
            {% else %}
                 <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                 </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
