{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Biblioteka</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'main:hello_world' %}">Strona główna</a>
            </li>
            <li>
                <a href="{% url 'posts:list' %}">Lista postów</a>
            </li>
        </ul>
    </nav>
    <img src="{% static "main/img/Database1.png"%}" alt="logo">
    {% block content %}
    {% endblock %}
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'main:about' %}">O nas</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>