{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    {% block styles %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>
        <h1>Biblioteka</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'main:hello_world' %}">Strona główna</a>
            </li>
            <li>
                <a href="{% url 'posts:list' %}">Lista postów</a>
            </li>
        </ul>
    </nav>
    <img src="{% static "main/img/Database1.png"%}" alt="logo">
    {% block content %}
    {% endblock %}
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'main:about' %}">O nas</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>